{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% include('comment/_indexForm.html.twig') %}
    </div>
{% endblock %}